redirects: on
framework: >= net461
copy_local: true

source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/e5r/api/v3/index.json
source https://www.myget.org/F/idamfwinpkgs/api/v3/index.json

nuget Newtonsoft.Json ~> 9.0
nuget SterlingPhone.Unofficial ~> 1.6